@{
    ViewBag.Title = "订单查询";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="am-layout" >
    <div class="am-layout-center">
        <div class="am-layout-wrap am-layout-wrap-notitle">
            <div class="am-layout-tool">
                <div class="am-layout-tool-left">
                    <div class="am-layout-tool-item">
                        <div id="datesearch"></div>
                    </div>
                    <div class="am-layout-tool-item">
                        <div id="multiple_condition_query">
                            <div class="am-query-formcontent">
                                <div class="col-xs-12 am-form-item">
                                    <div class="am-form-item-title">订单号</div>
                                    <input id="F_OrderNo" type="text" class="form-control" />
                                </div>
                                <div class="col-xs-12 am-form-item">
                                    <div class="am-form-item-title">客户姓名</div>
                                    <input id="F_CustomerName" type="text" class="form-control" />
                                </div>
                                <div class="col-xs-12 am-form-item">
                                    <div class="am-form-item-title">联系电话</div>
                                    <input id="F_CustomerPhone" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="am_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                    <div class=" btn-group btn-group-sm" ayma-authorize="yes">
                        <a id="am_edit" class="btn btn-default"><i class="fa fa-search"></i>&nbsp;编辑</a>
                        <a id="am_detail" class="btn btn-default"><i class="fa fa-search"></i>&nbsp;查看详情</a>
                        <a id="am_putpay" class="btn btn-default"><i class="fa fa-search"></i>&nbsp;收付款</a>
                        <a id="am_logdetail" class="btn btn-default"><i class="fa fa-search"></i>&nbsp;查看物流信息</a>
                    </div>
                </div>
            </div>
            <div class="am-layout-body" id="girdtable"></div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/TwoDev/Views/OrderInquiry/Index.js")
