@{
    ViewBag.Title = "订单查询";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="am-layout" >
    <div class="am-layout-center">
        <div class="am-layout-wrap am-layout-wrap-notitle">
            <div class="am-layout-tool">
                <div class="am-layout-tool-left">
                    <div class="am-layout-tool-item">
                        <div id="datesearch"></div>
                    </div>
                </div>
                <div class="am-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="am_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                    <div class=" btn-group btn-group-sm" ayma-authorize="yes">
                        <a id="am_detail" class="btn btn-default"><i class="fa fa-search"></i>&nbsp;查看详情</a>
                        <a id="am_putpay" class="btn btn-default"><i class="fa fa-search"></i>&nbsp;收付款</a>
                        <a id="am_logdetail" class="btn btn-default"><i class="fa fa-search"></i>&nbsp;查看物流信息</a>
                    </div>
                </div>
            </div>
            <div class="am-layout-body" id="girdtable"></div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/TwoDev/Views/OrderInquiry/Index.js")
