@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_GirdForm.cshtml";
}
@Html.AppendCssFile("/Areas/TwoDev/Views/OrderInquiry/Form.css")
<div class="col-xs-6 am-form-item">
    <div class="am-form-item-title">订单号：</div>
    <input id="F_EnCode" type="text" class="form-control am-input-underline" isvalid="yes" checkexpession="NotNull" readonly="readonly" />
</div>
<div class="col-xs-12 am-form-item am-form-item-grid">
    <div id="T_OrderLogisticsInfo"></div>
</div>

@Html.AppendJsFile("/Areas/TwoDev/Views/OrderInquiry/LogisticsForm.js")
