@{
    ViewBag.Title = "航班号记录";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="am-form-wrap" id="form">
    @*<div class="col-xs-12 am-form-item"  data-table="T_FlightNoInfo" >
        <div class="am-form-item-title">标示</div>
        <input id="F_Id" type="text" class="form-control"  />
    </div>*@
    <div class="col-xs-12 am-form-item"  data-table="T_FlightNoInfo" hidden="hidden">
        <div class="am-form-item-title">机场Id</div>
        <input id="F_AirfieldId" type="text" class="form-control"  />
    </div>
    <div class="col-xs-6 am-form-item"  data-table="T_FlightNoInfo" >
        <div class="am-form-item-title">机场名称</div>
        @*<input id="F_AirfieldName" type="text" class="form-control"  />*@
        <div id="F_AirfieldName" isvalid="yes" checkexpession="NotNull"></div>
    </div>
    <div class="col-xs-6 am-form-item"  data-table="T_FlightNoInfo" >
        <div class="am-form-item-title">航站楼</div>
        <input id="F_AirfieldFloor" type="text" class="form-control"  />
    </div>
    <div class="col-xs-6 am-form-item"  data-table="T_FlightNoInfo" >
        <div class="am-form-item-title">航空公司</div>
        <input id="F_FlightCompany" type="text" class="form-control"  />
    </div>
    <div class="col-xs-6 am-form-item"  data-table="T_FlightNoInfo" >
        <div class="am-form-item-title">航班号</div>
        <input id="F_FlightNumber" type="text" class="form-control"  />
    </div>
    <div class="col-xs-6 am-form-item"  data-table="T_FlightNoInfo" >
        <div class="am-form-item-title">起飞地址</div>
        <input id="AddressBegin" type="text" class="form-control"  />
    </div>
    <div class="col-xs-6 am-form-item"  data-table="T_FlightNoInfo" >
        <div class="am-form-item-title">到达地址</div>
        <input id="AddressEnd" type="text" class="form-control"  />
    </div>
    <div class="col-xs-6 am-form-item"  data-table="T_FlightNoInfo" >
        <div class="am-form-item-title">起飞时间</div>
        <input id="DateTimeBegin" type="text" class="form-control am-input-wdatepicker" onfocus="WdatePicker({dateFmt:'HH:mm'})" isvalid="no" checkexpession="HourSecond" />
    </div>
    <div class="col-xs-6 am-form-item"  data-table="T_FlightNoInfo" >
        <div class="am-form-item-title">到达时间</div>
        <input id="DateTimeEnd" type="text" class="form-control am-input-wdatepicker" onfocus="WdatePicker({dateFmt:'HH:mm'})" isvalid="no" checkexpession="HourSecond" />
    </div>
</div>
@Html.AppendJsFile("/Areas/TwoDev/Views/FlightNumberRecord/Form.js")
