<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 是否启用js、css压缩-->
  <add key="JsCompressor" value="false" />
  <!-- 是否启用js、css缓存-->
  <add key="JsCompressorCache" value="false" />
  <!-- 代码生成器路径-->
  <add key="BackProject" value="Ayma.Application.TwoDevelopment" />
  <add key="MappingDirectory" value="\Ayma.Framework.Module\Ayma.Application.Module\Ayma.Application.Mapping" />
  <add key="ServiceDirectory" value="\Ayma.Framework.Module\Ayma.Application.Module\Ayma.Application.TwoDevelopment" />
  <add key="WebDirectory" value="\Ayma.Application.Web" />
  <!-- ================== 2：这里主要是微信配置项内容部分 ================== -->
  <!--企业号CorpId -->
  <add key="CorpId" value="wxa2c39f6194f4" />
  <!--企业号凭证密钥 -->
  <add key="CorpSecret" value="eDo9pEOXWqSgWtQ-_1NF_NTmGDTlZ3UFFdF3To-" />
  <!-- ================== 3：访问过滤配置 ================== -->
  <!--设置IP过滤 -->
  <add key="FilterIP" value="false" />
  <!--设置时段过滤 -->
  <add key="FilterTime" value="false" />
  <!-- ================== 4：系统件参数配置 ================== -->
  <!-- 技术支持 -->
  <add key="Contact" value="广州市爱玛电子有限公司" />
  <!-- 公司名称 -->
  <add key="CustomerCompanyName" value="" />
  <!-- 系统名称 -->
  <add key="SystemName" value="智慧行李管理系统" />
  <!-- 软件名称 -->
  <add key="SoftName" value="" />
  <!-- 缓存key：区分在同一个redis服务器下不同系统的数据缓存 -->
  <add key="RedisKey" value="ZHXL" />
  <!-- 软件版本 -->
  <add key="Version" value="2.0" />
  <!-- 软件注册码，备用 -->
  <add key="RegisterKey" value="NO:8888" />
  <!-- ================== 5：外部邮件参数 ================== -->
  <!-- 系统错误自动发送邮件 -->
  <add key="ErrorToMail" value="false" />
  <!-- 接收错误信息的邮箱 -->
  <add key="RereceiveErrorMail" value="" />
  <!-- 发出邮箱的名称 -->
  <add key="MailName" value="邮件中心" />
  <!-- 发出邮箱的地址 -->
  <add key="MailUserName" value="" />
  <!-- 发出邮箱的密码 -->
  <add key="MailPassword" value="" />
  <!-- 发出邮箱设置邮箱主机 -->
  <add key="MailHost" value="smtp.ym.163.com" />
  <!-- ================== 6：即时通信参数 ================== -->
  <!-- SignalR服务接口-->
  <add key="IMUrl" value="http://localhost:8012/signalr" />
  <add key="userKey" value="14B417B0-463D-4F2B-8075-0A20EEDB773A" />
  <!-- ================== 7：附件上传地址 ================== -->
  <add key="AnnexesFile" value="D:/fileAnnexes" />
  <!-- ================== 8：流程服务地址 ================== -->
  <add key="workflowapi" value="http://localhost:8013" />
  <!-- ================== 9：禁用BrowserLink，解决进度条卡在99%问题 ================== -->
  <add key="vs:EnableBrowserLink" value="false"/>
  <!-- ========================== 10：图片类型 ============================= -->
  <add key="ImageTypes" value="jpg,jpeg,gif,png,bmp"/>
</appSettings>