@{
    ViewBag.Title = "数据源选择页面";
    Layout = "~/Views/Shared/_GirdForm.cshtml";
}
@Html.AppendCssFile("/Areas/AM_SystemModule/Views/DataSource/SelectForm.css")
<div class="am-form-layout">
    <div class="am-form-layout-top">
        <div class="am-item">
            <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width:240px;" />
        </div>
        <div class="am-item">
            <a id="btn_Search" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;查询</a>
        </div>
        <div class="am-form-layout-top-right">
            <div class="am-item">
                显示字段
            </div>
            <div class="am-item">
                <div id="am_show_field" isvalid="yes" checkexpession="NotNull"></div>
            </div>
            <div class="am-item">
                保存字段
            </div>
            <div class="am-item">
                <div id="am_save_field" isvalid="yes" checkexpession="NotNull"></div>
            </div>
        </div>
    </div>
    <div id="girdtable"></div>
    <div class="am-form-layout-bottom">
        选择数据源:<span id="v0"></span>/显示字段:<span id="v1"></span>/保存字段:<span id="v2"></span>
    </div>
</div>
@Html.AppendJsFile("/Areas/AM_SystemModule/Views/DataSource/SelectForm.js")

