@{
    ViewBag.Title = "分拣员工作数据查询";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="am-layout">
    <div class="am-layout-center">
        <div class="am-layout-wrap am-layout-wrap-notitle">
            <div class="am-layout-tool">
                <div class="am-layout-tool-left">
                    <div class="am-layout-tool-item">
                        <div id="datesearch"></div>
                    </div>
                    <div class="am-layout-tool-item">
                        <div id="multiple_condition_query">
                            <div class="am-query-formcontent">
                                <div class="col-xs-6 am-form-item">
                                    <div class="am-form-item-title">开始日期</div>
                                    <input id="StartTime" type="text" class="form-control am-input-wdatepicker" onfocus="WdatePicker({ onpicked: function () { $('#EndTime').trigger('change'); } })" value="@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")" isvalid="yes" checkexpession="NotNull" />
                                </div>
                                <div class="col-xs-6 am-form-item">
                                    <div class="am-form-item-title">结束日期</div>
                                    <input id="EndTime" type="text" class="form-control am-input-wdatepicker" onfocus="WdatePicker({ onpicked: function () { $('#StartTime').trigger('change'); } })" value="@DateTime.Now.ToString("yyyy-MM-dd")" isvalid="yes" checkexpession="NotNull" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="am_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                    <div class=" btn-group btn-group-sm" ayma-authorize="yes">
                        <a id="am_logdetail" class="btn btn-default"><i class="fa fa-search"></i>&nbsp;导出</a>
                    </div>
                </div>
            </div>
            <div class="am-layout-body" id="girdtable"></div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/TwoDev/Views/OrderSumReport/SorterDataIndex.js")
