body {
    padding:5px;
}
.am-form-layout {
    padding-top:210px;
}
.am-form-layout-header {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 210px;
    padding: 10px;
    border:1px solid #ccc;
    z-index:2;
}
.am-form-item-title {
    width:58px;
    padding-right:0px;
    text-align:left;
}
.am-form-item {
    padding-left:58px;
}
.am-form-layout-body
{
    padding-top:30px;
    border:1px solid #ccc;
    border-top:0px;
}
.data-edit-select{
    display:none;
}