@{
    ViewBag.Title = "订单列表";
    Layout = "~/Views/Shared/_GirdForm.cshtml";
}
<div class="am-layout-body" id="girdtable"></div>
@Html.AppendJsFile("/Areas/TwoDev/Views/WeChatMember/OrderList.js")
