<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <add key="isWriteLog" value="true"/>
  <!-- 是否启用js压缩-->
  <add key="JsCompressor" value="true" />
  <!-- 代码生成器路径-->
  <add key="BackProject" value="Ayma.Application.TwoDevelopment" />
  <add key="MappingDirectory" value="\Ayma.Framework.Module\Ayma.Application.Module\Ayma.Application.Mapping" />
  <add key="ServiceDirectory" value="\Ayma.Framework.Module\Ayma.Application.Module\Ayma.Application.TwoDevelopment" />
  <add key="WebDirectory" value="\Ayma.Application.Web" />
  <!-- ================== 2：这里主要是微信配置项内容部分 ================== -->
  <!--企业号CorpId -->
  <add key="CorpId" value="wxa2c39f6194f4" />
  <!--企业号凭证密钥 -->
  <add key="CorpSecret" value="0000" />
  <!-- ================== 3：访问过滤配置 ================== -->
  <!--设置IP过滤 -->
  <add key="FilterIP" value="false" />
  <!--设置时段过滤 -->
  <add key="FilterTime" value="false" />
  <!-- ================== 4：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="" />
  <!-- 公司名称 -->
  <add key="CustomerCompanyName" value="" />
  <!-- 系统名称 -->
  <add key="SystemName" value="Ayma系统" />
  <!-- 软件名称 -->
  <add key="SoftName" value="" />
  <!-- 软件版本 -->
  <add key="Version" value="2.0" />
  <!-- 缓存key：区分在同一个redis服务器下不同系统的数据缓存 -->
  <add key="RedisKey" value="ZHXL" />
  <!-- 软件注册码，备用 -->
  <add key="RegisterKey" value="NO:8888" />
  <!-- ================== 5：外部邮件参数 ================== -->
  <!-- 系统错误自动发送邮件 -->
  <add key="ErrorToMail" value="false" />
  <!-- 接收错误信息的邮箱 -->
  <add key="RereceiveErrorMail" value="receivebug@ayma.cn" />
  <!-- 发出邮箱的名称 -->
  <add key="MailName" value="邮件中心" />
  <!-- 发出邮箱的地址 -->
  <add key="MailUserName" value="sendbug@ayma.cn" />
  <!-- 发出邮箱的密码 -->
  <add key="MailPassword" value="ayma123" />
  <!-- 发出邮箱设置邮箱主机 -->
  <add key="MailHost" value="smtp.ym.163.com" />
  <!-- ================== 6：即时通信参数 ================== -->
  <!-- SignalR服务接口-->
  <add key="IMUrl" value="http://localhost:8012/signalr" />
  <add key="userKey" value="14B417B0-463D-4F2B-8075-0A20EEDB773A" />
  <!-- ================== 7：附件上传地址 ================== -->
  <add key="AnnexesFile" value="D:/fileAnnexes" />
  <!-- ================== 8：附件上传地址 ================== -->
  <add key="workflowapi" value="http://localhost:8013" />

  <!-- ================== 9：PDA签名key ================== -->
  <add key="pdakey" value="o6IgFIj7gJanSJyyg6ruaiq0PHRFpVd9" />
  
  <!-- ================== 10：微信小程序参数配置 ================== -->
  <!--小程序appid-旅客端-->
  <add key ="AppId" value="wx9174143d3b761c16"/>
  <!--小程序密钥-旅客端 -->
  <add key ="AppSecret" value="e68a16bf094abaf7f59d044b0aa5db40"/>
  <!--小程序appid-分拣员端-->
  <add key ="SerAppId" value="wx6e82b84f7f6b90e4"/>
  <!--小程序密钥-分拣员端 -->
  <add key ="SerAppSecret" value="36aa275aedd90d33b36f725c5dac51d6"/>
  <!--微信支付异步回调url -->
  <add key ="Wx_NotifyUrl" value="http://mp.zhonghuijinxin.com/pdaapi/NotifyUrl"/>
  <!--商户号-->
  <add key ="MchId" value="1533655241"/>
  <add key ="PayKey" value="j0B2QXFmazEKmcTkeJuBIyNyzTX9cEda"/>
  <!--=============================承诺达快递配置=================================-->
  <!--ISV 平台编码(渠道编码)-->
  <add key ="logisticProviderId" value="OTP_ZHJXKJ_STD"/>
  <!--渠道密钥(平台密钥)-->
  <add key ="secretKey" value ="n4o5996e43aqdpdr"/>
  <add key="expressServer" value="http://114.80.61.45:8082/order/v1/createOrderAndPrint"/>
  <!--客户编码-->
  <add key ="customerCode" value="K21000869"/>
  <add key ="customerSecretKey" value="WILz78gFNINyeLQvKK+LBw=="/>
  <!--=============================根据经纬度计算距离=================================-->
  <add key="MapId" value="NHYBZ-SPU3I-3CLGM-5TTUY-44SKQ-X6BIA"/>
  <add key="MapMode" value="driving"/>
</appSettings>