@using Ayma.Util
@{
    ViewBag.Title = Config.GetValue("SystemName"); 
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@Html.AppendCssFile("/Views/Home/AdminDefault/index.css")
<div class="am-frame-top">
    <a class="am-logo-title" style="font-family:Microsoft Yahei; color: #343A8E; "><img src="~/Content/images/logo_blue.png" /> @Config.GetValue("SystemName")</a>
</div>
@Html.AppendJsFile("/Views/Home/AdminDefault/index.js")