@{
    ViewBag.Title = "机场信息管理";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="am-form-wrap" id="form">
    @*<div class="col-xs-12 am-form-item"  data-table="T_AirfieldInfo" >
        <div class="am-form-item-title">标示</div>
        <input id="F_Id" type="text" class="form-control"  />
    </div>*@
    <div class="col-xs-12 am-form-item"  data-table="T_AirfieldInfo" >
        <div class="am-form-item-title">机场名称<font face="宋体">*</font></div>
        <input id="F_AirfieldName" isvalid="yes" checkexpession="NotNull" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 am-form-item"  data-table="T_AirfieldInfo" >
        <div class="am-form-item-title">排序<font face="宋体">*</font></div>
        <input id="F__OrderBy" isvalid="yes" checkexpession="NotNull" type="text" class="form-control" />
    </div>
</div>
@Html.AppendJsFile("/Areas/TwoDev/Views/AirportMessage/Form.js")
